<h1>New task</h1>

<%= render 'form', list: @list %>

<hr>
<%= link_to lists_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>

<h1>New bookmark</h1>

<%= render 'form', bookmark: @bookmark %>

<hr>
<%= link_to bookmarks_path do %>
  <i class="fa fa-history"></i> Back to bookmark
<% end %>
